html {
  height: 100%;
}

body {
  margin-top: 20px;
  background-image: linear-gradient(
    to top,
    #d9afd9 0%,
    #97d9e1 100%
  ) !important;
  background-repeat: no-repeat;
  /*height: 100vh;*/
  font-family: "Alegreya Sans", sans-serif;
}

.weather-app {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 20px 15px 0px;
  max-width: 650px;
  margin: auto;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #cfd5dd 99%,
    #cad5e6 100%
  );
}

.date,
.time,
.city,
.current-weather-icon,
.temperature,
.five-day-forecast,
.humidity,
.wind {
  text-align: center;
}

.date,
.time,
.city,
.current-weather-icon,
.temperature,
.celsius,
.fahrenheit,
.five-day-forecast,
.humidity,
.wind {
  color: #393f4e;
}

.celsius,
.fahrenheit {
  text-decoration: none;
}

.time {
  font-size: 40px;
}

.city {
  font-size: 35px;
}

.current-weather-icon {
  font-size: 60px;
  line-height: 5px;
}

.degree-temp {
  font-size: 60px;
}

.celsius-fahrenheit {
  font-size: 30px;
}

.five-day-forecast {
  margin: 40px 0px 20px 100px;
}

.open-source {
  display: block;
  margin-top: 0.5rem;
  text-align: center;
}

.open {
  text-decoration: underline;
  color: #2f2c42;
}

.open:hover {
  color: #2f2c42c5;
}
